<div class="container">
	<div class="columns h-m">
		<div class="column is-one-third">
			<div class="field">
				<div class="control">
					<form class="" action="/message" method="post">
						<label class="label">なんか入力して！</label>
						<input class="input" type="text" name="message" value="">
					</div>
				</div>
				<div class="field">
					<div class="control">
						<input class="button is-success" type="submit" name="" value="言う。">
					</div>
				</div>
			</form>
		</div>
		<div class="column">
			<p class="is-size-1"><%= @message %></h1>
		</div>
	</div>

</div>
