<div class="container">
	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="navbar-menu">
			<div class="navbar-start">
				<!-- navbar items -->
				<a class="navbar-item" href="/">Home</a>
				<a class="navbar-item" href="/message">Message</a>
				<a class="navbar-item" href="/comment">comment</a>
			</div>
		</div>
	</nav>
</div>
